  <%- contentFor('body') %>
  
  <section id="aa-slider" class="main-page">
    <div class="container" style="margin-top: 90px;">
        <h1>Selamat Datang</h1>
        <h1>di Livinhome</h1>
        <p style="padding-top: 20px;">Temukan sewa properti terjangkau di dekat kampus Kamu bersama Livinhome.</p> 
        <p>Pesan sekarang dan nikmati semua layanan Kami tanpa ribet.</p>
        <br>
        <div class="row">
          <div class="col-lg-5">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <svg width="14" height="14" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path  d="M27.1138 25.3428L25.2 19.6H23.1L24.2662 25.2H3.73378L4.89998 19.6H2.79998L0.884776 25.3428C0.398976 26.8044 1.25998 28 2.79998 28H25.2C26.74 28 27.601 26.8044 27.1138 25.3428ZM21 7C21 5.14348 20.2625 3.36301 18.9497 2.05025C17.637 0.737498 15.8565 0 14 0C12.1435 0 10.363 0.737498 9.05023 2.05025C7.73747 3.36301 6.99998 5.14348 6.99998 7C6.99998 13.685 14 21 14 21C14 21 21 13.685 21 7ZM10.22 7.084C10.22 6.58767 10.3178 6.0962 10.5077 5.63767C10.6977 5.17914 10.9762 4.76253 11.3272 4.41163C11.6782 4.06074 12.0949 3.78244 12.5535 3.59263C13.0121 3.40282 13.5036 3.30522 14 3.3054C15.0023 3.3054 15.9636 3.70358 16.6723 4.41233C17.3811 5.12109 17.7793 6.08237 17.7793 7.0847C17.7793 8.08703 17.3811 9.04831 16.6723 9.75707C15.9636 10.4658 15.0023 10.864 14 10.864C12.9975 10.864 12.036 10.4658 11.3271 9.75686C10.6182 9.04798 10.22 8.08652 10.22 7.084Z" fill="#C58E24" />
                    </svg>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Cari dengan lokasi/kampus">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <svg width="14" height="14" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8289 3.92745C14.1442 3.92591 12.4968 4.4241 11.0952 5.35899C9.69364 6.29387 8.60083 7.62346 7.95503 9.17954C7.30923 10.7356 7.13946 12.4483 7.4672 14.1009C7.79494 15.7534 8.60546 17.2717 9.79623 18.4636C10.987 19.6554 12.5045 20.4673 14.1568 20.7966C15.8091 21.1258 17.5219 20.9576 19.0786 20.3132C20.6352 19.6689 21.9658 18.5773 22.902 17.1765C23.8381 15.7758 24.3378 14.1289 24.3378 12.4441C24.3276 10.1899 23.4281 8.03071 21.8348 6.43595C20.2415 4.8412 18.0832 3.93973 15.8289 3.92745ZM15.8289 2.33301C17.8287 2.33301 19.7836 2.92601 21.4464 4.03704C23.1091 5.14806 24.4051 6.7272 25.1704 8.57476C25.9357 10.4223 26.1359 12.4553 25.7458 14.4167C25.3556 16.3781 24.3926 18.1797 22.9786 19.5938C21.5645 21.0078 19.7629 21.9708 17.8015 22.3609C15.8402 22.7511 13.8072 22.5509 11.9596 21.7856C10.112 21.0203 8.53289 19.7243 7.42187 18.0616C6.31084 16.3988 5.71784 14.4439 5.71784 12.4441C5.71784 9.76249 6.78311 7.19069 8.67931 5.29448C10.5755 3.39828 13.1473 2.33301 15.8289 2.33301Z" fill="#C58E24"/>
                        <path d="M1.30786 25.8922L7.04009 20.1211L8.14453 21.2178L2.41231 26.9889C2.3403 27.0614 2.25471 27.119 2.16043 27.1585C2.06615 27.1979 1.96503 27.2184 1.86284 27.2187C1.76064 27.2191 1.65937 27.1993 1.56482 27.1606C1.47026 27.1218 1.38427 27.0648 1.31175 26.9928C1.23923 26.9208 1.18161 26.8352 1.14217 26.7409C1.10272 26.6466 1.08224 26.5455 1.08187 26.4433C1.08151 26.3411 1.10128 26.2398 1.14006 26.1453C1.17883 26.0507 1.23586 25.9647 1.30786 25.8922Z" fill="#C58E24"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-properti.png">
                  <p class="count">100+</p>
                  <small>Properti</small>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-transaksi.png">
                  <p class="count">100+</p>
                  <small>Transaksi</small>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-partner.png">
                  <p class="count">50+</p>
                  <small>Partner</small>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3">
              <div class="card">
                <div class="card-body text-center">
                  <img src="default/img/ic-promo.png">
                  <p class="count">20+</p>
                  <small>Promo</small>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-5">
          <img src="default/img/foto-rumah.png" class="service-img" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="livemate">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <div class="card-body text-center">
              <h3 class="card-title">Temukan Teman Satu Kontrakan yang Tepat dengan Livin<span>mates</span>!</h3>
              <p class="text-left">Livinmates membantu Anda menemukan teman sekontrakan yang sesuai dengan minat dan gaya hidup Anda.</p>
              <a href="javascript:void()" class="btn btn-dark btn-livemate">Daftar Livinmates</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 text-right livemate-img">
            <img src="default/img/livemate-img.png" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="findout">
    <div class="container">
      <div class="findout-properti">
        <div class="aa-title">
          <h3>Apa yang kamu cari?</h3>      
        </div>
        <div class="findout-properties-content">
          <div class="row">

            <div class="col-md-4">
              <article class="findout-properties-item">
                <div class="findout-properties-item-content" style="background-image: url(default/img/ic-kontrakan.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                  <div class="findout-properties-about text-center">
                    <h3><b>Rumah Kontrakan</b></h3>
                    <p>Livinhome adalah pilihan cerdas bagi mahasiswa yang mencari rumah kontrakan terjangkau tanpa mengorbankan kualitas. Cari kontrakan Anda sekarang!</p>                      
                  </div>
                </div>
                <a href="javascript:void(0)" class="findout-tag for-rent">
                  Telusuri
                </a>
              </article>
            </div>

            <div class="col-md-4">
              <article class="findout-properties-item">
                <div class="findout-properties-item-content" style="background-image: url(default/img/ic-kost.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                  <div class="findout-properties-about text-center">
                    <h3><b>Kamar Kost</b></h3>
                    <p>Temukan kamar kost impian Anda dengan harga yang sesuai di Livinhome. Kami menyediakan lokasi yang ideal untuk kehidupan kuliah Anda.</p>                      
                  </div>
                </div>
                <a href="property?page=kost" class="findout-tag for-rent">
                  Telusuri
                </a>
              </article>
            </div>

            <div class="col-md-4">
              <article class="findout-properties-item">
                <div class="findout-properties-item-content" style="background-image: url(default/img/ic-apartement.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                  <div class="findout-properties-about text-center">
                    <h3><b>Appartment</b></h3>
                    <p>Menemukan tempat tinggal yang nyaman adalah langkah pertama menuju sukses akademis. Ayo telusuri Apartemen yang sesuai dengan keinginanmu di Livinhome!</p>                      
                  </div>
                </div>
                <a href="javascript:void(0)" class="findout-tag for-rent">
                  Telusuri
                </a>
              </article>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="partner">
    <div class="container">
      <div class="suggest-properti">
        <div class="aa-title">
          <h3>Jelajahi Kampus Anda</h3>      
        </div>
        <div class="row list-kampus">
          <div class="col-lg-4 col-md-4 kampus">
            <div class="thumb-kampus">
              <img src="default/img/image-1.png" alt="" srcset="">
            </div>
            <div class="detail-kampus">
              <h4>Telkom University</h4>
              <p>Bojongsoang</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 kampus">
            <div class="thumb-kampus">
              <img src="default/img/image-2.png" alt="" srcset="">
            </div>
            <div class="detail-kampus">
              <h4>Universitas Padjajaran</h4>
              <p>Jatinangor</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 kampus">
            <div class="thumb-kampus">
              <img src="default/img/image-3.png" alt="" srcset="">
            </div>
            <div class="detail-kampus">
              <h4>Universitas Pasundan</h4>
              <p>Lengkong Besar</p>
            </div>
          </div>
        </div>
        <div class="row list-kampus">
          <div class="col-lg-4 col-md-4 kampus">
            <div class="thumb-kampus">
              <img src="default/img/image-4.png" alt="" srcset="">
            </div>
            <div class="detail-kampus">
              <h4>Universitas Widyatama</h4>
              <p>Cikutra</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 kampus">
            <div class="thumb-kampus">
              <img src="default/img/image-5.png" alt="" srcset="">
            </div>
            <div class="detail-kampus">
              <h4>Universitas Maranatha</h4>
              <p>Lengkong Besar</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 kampus">
            <div class="thumb-kampus">
              <img src="default/img/image-6.png" alt="" srcset="">
            </div>
            <div class="detail-kampus">
              <h4>Universitas Komputer</h4>
              <p>Dipatiukur</p>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="javascript:void()" class="btn btn-dark btn-livemate">Lihat Semua Kampus</a>
        </div>
      </div>
    </div>
  </section>

  <section id="suggest">
    <div class="container-fluid">
      <div class="suggest-properti">
        <div class="aa-title">
          <h3>Rekomendasi Livinhome</h3>      
        </div>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <% 
              data['rekomendasi'].forEach(function(rekomendasi) {
            %>
            <div class="swiper-slide property">
              <div class="thumb">
                <img src="<%= rekomendasi['image'] %>">
                <div class="overlay"></div>
                <div class="title-property">
                  <%= rekomendasi['pemilik'] %>
                </div>
              </div>
              <div class="description">
                <div class="title"><%= rekomendasi['lokasi'] %></div>
                <div class="balance"><%= formatNumber.format(rekomendasi['price']) %>/<span><%= rekomendasi['detail']['waktu'] %></span></div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span><%= rekomendasi['rating'] %> (<%= rekomendasi['penilaian'] %> Penilaian)</span>
                </div>
                <div class="row detail-property">
                  <div class="col-lg-3 col-md-3 detail text-left">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.2 6.61338H1.6V2.12454C1.59954 1.95549 1.63269 1.78803 1.69754 1.63185C1.7624 1.47567 1.85766 1.33388 1.97783 1.21467L1.98783 1.2047C2.17614 1.01713 2.41792 0.892122 2.68013 0.846764C2.94234 0.801406 3.21219 0.837907 3.45283 0.951279C3.22557 1.32819 3.13111 1.77005 3.18446 2.20665C3.23781 2.64325 3.43591 3.04955 3.74728 3.36097L4.02105 3.63406L3.51712 4.13676L4.08278 4.70101L4.5867 4.19834L7.37893 1.41308L7.88285 0.910405L7.31718 0.346132L6.81322 0.848808L6.53945 0.575712C6.21167 0.249655 5.77958 0.0486612 5.3185 0.00775649C4.85741 -0.0331482 4.39655 0.0886293 4.01623 0.351868C3.61518 0.0992243 3.13992 -0.00984383 2.66851 0.0425809C2.19711 0.0950056 1.75759 0.305806 1.42218 0.640351L1.41218 0.650327C1.21749 0.843471 1.06313 1.07322 0.958054 1.32627C0.852974 1.57931 0.799253 1.85064 0.8 2.12454V6.61338H0V7.4114H0.8V8.177C0.799983 8.24133 0.810383 8.30523 0.8308 8.36625L1.575 10.5932C1.61471 10.7124 1.69108 10.8162 1.79325 10.8896C1.89542 10.9631 2.0182 11.0026 2.14415 11.0025H2.46665L2.175 12H3.00832L3.3 11.0025H8.5025L8.8025 12H9.6375L9.3375 11.0025H9.85575C9.98172 11.0026 10.1045 10.9631 10.2067 10.8897C10.3089 10.8162 10.3853 10.7125 10.425 10.5932L11.1691 8.36625C11.1896 8.30523 11.2 8.24133 11.2 8.177V7.4114H12V6.61338H11.2ZM4.313 1.13998C4.5334 0.920611 4.83204 0.797407 5.14339 0.797407C5.45474 0.797407 5.75338 0.920611 5.97378 1.13998L6.2475 1.41308L4.58677 3.06969L4.313 2.79664C4.09309 2.57678 3.96959 2.27889 3.96959 1.96831C3.96959 1.65774 4.09309 1.35984 4.313 1.13998ZM10.4 8.14458L9.7117 10.2045H2.2883L1.6 8.14458V7.4114H10.4V8.14458Z" fill="#605A5A"/>
                    </svg>
                    <span><%= rekomendasi['detail']['kamar_mandi'] %></span>
                  </div>
                  <div class="col-lg-3 col-md-3 detail text-left">
                    <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.58322 0.5V0.25H7.33322H3.44434C2.75398 0.25 2.19434 0.809643 2.19434 1.5V3.43335V3.68335H2.44434H7.33322H7.58322V3.43335V0.5Z" stroke="#605A5A" stroke-width="0.5"/>
                      <path d="M7.33325 0.25H7.08325V0.5V3.43335V3.68335H7.33325H12.2221H12.4721V3.43335V1.5C12.4721 0.809644 11.9125 0.25 11.2221 0.25H7.33325Z" stroke="#605A5A" stroke-width="0.5"/>
                      <path d="M13.4444 8.60749H13.6944V8.35749V5.16699C13.6944 4.47664 13.1347 3.91699 12.4444 3.91699H2.22217C1.53181 3.91699 0.972168 4.47664 0.972168 5.16699V8.35749V8.60749H1.22217H13.4444Z" stroke="#605A5A" stroke-width="0.5"/>
                      <path d="M3.84125 9.4043H2.09521V11.4995H2.96823L3.84125 9.4043Z" fill="#605A5A" stroke="#605A5A" stroke-width="0.7"/>
                      <path d="M12.5715 9.4043H10.8254L11.6985 11.4995H12.5715V9.4043Z" fill="#605A5A" stroke="#605A5A" stroke-width="0.7"/>
                    </svg>
                    <span><%= rekomendasi['detail']['kamar_tidur'] %></span>
                  </div>
                  <div class="col-lg-6 col-md-6 detail text-left">
                    <svg width="12" height="12" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.14263 4.24216L9.83075 1.57056L9.822 3.08493C9.81918 3.21118 9.91934 3.32103 10.0458 3.31821L10.2061 3.31806C10.3325 3.31509 10.437 3.23993 10.4397 3.11368L10.4462 0.857744C10.4462 0.855566 10.4376 0.853848 10.4376 0.85166L10.45 0.737285C10.4512 0.673848 10.4364 0.617285 10.3954 0.576826C10.355 0.536045 10.2983 0.511201 10.2353 0.51292L10.1211 0.515576C10.1189 0.515576 10.1172 0.516357 10.1148 0.51668L7.87374 0.506836C7.74749 0.509648 7.64296 0.614023 7.64015 0.74043L7.63984 0.900752C7.65905 1.04966 7.77609 1.13669 7.90234 1.13388L9.37937 1.13778L6.70076 3.80013C6.57873 3.92216 6.57873 4.11997 6.70076 4.24216C6.8228 4.36403 7.02061 4.36403 7.14263 4.24216ZM3.75575 6.75806L1.06764 9.42134L1.07623 7.91524C1.0792 7.78884 0.97888 7.67899 0.85263 7.68181L0.682483 7.68212C0.555921 7.68524 0.451536 7.76024 0.44888 7.88665L0.442317 10.1426C0.442317 10.1448 0.450911 10.1462 0.450911 10.1487L0.438567 10.2627C0.437161 10.3262 0.452005 10.383 0.493098 10.4232C0.533411 10.4642 0.590286 10.4888 0.653098 10.4873L0.767473 10.4845C0.769651 10.4845 0.771214 10.4835 0.773723 10.4835L3.02465 10.4934C3.1509 10.4902 3.25529 10.3859 3.25824 10.2596L3.25856 10.0992C3.23935 9.95056 3.12231 9.86321 2.99606 9.86603L1.51904 9.86212L4.19747 7.20009C4.3195 7.07805 4.3195 6.88024 4.19747 6.75821C4.07544 6.63618 3.87778 6.63603 3.75574 6.75806H3.75575ZM10.4464 10.1424L10.4398 7.88647C10.437 7.76007 10.3325 7.68507 10.2062 7.68194L10.0459 7.68163C9.91952 7.67881 9.81952 7.78881 9.82218 7.91506L9.83093 9.42943L7.14265 6.75803C7.02062 6.636 6.82281 6.636 6.70077 6.75803C6.57874 6.88006 6.57874 7.07787 6.70077 7.1999L9.37921 9.86193L7.90234 9.86584C7.77609 9.86303 7.65906 9.95038 7.63984 10.099L7.64015 10.2594C7.64312 10.3858 7.74765 10.4902 7.87374 10.4932L10.115 10.4833C10.1173 10.4833 10.1191 10.4843 10.1212 10.4843L10.2355 10.4871C10.2984 10.4887 10.3553 10.464 10.3956 10.423C10.4366 10.3827 10.4512 10.326 10.4501 10.2626L10.4378 10.1485C10.4378 10.146 10.4464 10.1446 10.4464 10.1424L10.4464 10.1424ZM1.51905 1.13803L2.99623 1.13415C3.12248 1.13696 3.23951 1.04978 3.25873 0.901016L3.25842 0.740557C3.25529 0.61416 3.15089 0.509619 3.02482 0.506963L0.773723 0.51665C0.771223 0.516338 0.769661 0.515557 0.767473 0.515557L0.653098 0.512891C0.590296 0.511182 0.533264 0.536025 0.493098 0.576797C0.452005 0.617266 0.437171 0.673828 0.438567 0.737266L0.450911 0.851641C0.450911 0.853818 0.442317 0.855391 0.442317 0.857734L0.44888 3.11367C0.451692 3.23992 0.556077 3.31508 0.682483 3.31805L0.852639 3.31819C0.978889 3.32101 1.07904 3.21116 1.07622 3.08491L1.06763 1.57882L3.75575 4.2421C3.87763 4.36414 4.07561 4.36414 4.19765 4.2421C4.31969 4.12006 4.31968 3.9221 4.19765 3.80007L1.51905 1.13803Z" fill="#605A5A"/>
                    </svg>
                    <span><%= rekomendasi['detail']['luas_tanah'] %> m2</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-9 col-md-9 text-left">
                    <a href="javascript:void()" class="btn btn-dark btn-send-message">Kirim pesan</a>
                  </div>
                  <div class="col-lg-3 col-md-3 text-right">
                    <a href="javascript:void()" class="btn btn-dark btn-add-cart">
                      <svg width="12" height="12" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.5 22.5C22.5 23.8875 21.3875 25 20 25C19.337 25 18.7011 24.7366 18.2322 24.2678C17.7634 23.7989 17.5 23.163 17.5 22.5C17.5 21.1125 18.6125 20 20 20C20.663 20 21.2989 20.2634 21.7678 20.7322C22.2366 21.2011 22.5 21.837 22.5 22.5ZM7.5 20C6.1125 20 5 21.1125 5 22.5C5 23.163 5.26339 23.7989 5.73223 24.2678C6.20107 24.7366 6.83696 25 7.5 25C8.8875 25 10 23.8875 10 22.5C10 21.1125 8.8875 20 7.5 20ZM7.75 15.7875L7.7125 15.9375C7.7125 16.1125 7.85 16.25 8.025 16.25H22.5V18.75H7.5C6.83696 18.75 6.20107 18.4866 5.73223 18.0178C5.26339 17.5489 5 16.913 5 16.25C5 15.8125 5.1125 15.4 5.3 15.05L7 11.9875L2.5 2.5H0V0H4.0875L5.2625 2.5H23.75C24.4375 2.5 25 3.0625 25 3.75C25 3.9625 24.9375 4.175 24.85 4.375L20.375 12.4625C19.95 13.225 19.125 13.75 18.1875 13.75H8.875L7.75 15.7875ZM9.375 11.25H11.25V8.75H8.2L9.375 11.25ZM12.5 8.75V11.25H16.25V8.75H12.5ZM16.25 7.5V5H12.5V7.5H16.25ZM20.1375 8.75H17.5V11.25H18.75L20.1375 8.75ZM22.225 5H17.5V7.5H20.8375L22.225 5ZM6.425 5L7.6 7.5H11.25V5H6.425Z" fill="white"/>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <%
              })
            %>

          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="text-center">
          <a href="javascript:void()" class="btn btn-dark btn-outline btn-livemate">Lihat Semua</a>
        </div>
      </div>
    </div>
  </section>

  <section id="about-us">
    <div class="container">
        <div class="aa-title">
          <h3>Kenapa Livinhome?</h3>      
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5">
            <img src="default/img/about-us.png" class="img-responsive" alt="" srcset="">
          </div>
          <div class="col-lg-7 col-md-7">
            <ul class="description">
              <li>
                <h3>Fokus pada Mahasiswa</h3>
                <p>Livinhome memiliki fokus khusus pada tempat tinggal mahasiswa. Platform kami dapat menyediakan informasi yang lebih relevan dan sesuai dengan kebutuhan mahasiswa, seperti akses ke kampus, fasilitas umum, dan keamanan lingkungan.</p>
              </li>
              <li>
                <h3>Properti Semi Furnished</h3>
                <p>Di Livinhome, kami menyediakan properti sewaan semi furnished sebagai keunggulan unik kami</p>
              </li>
              <li>
                <h3>Keamanan dan Privasi</h3>
                <p>Keamanan data dan privasi pengguna adalah prioritas utama. Livinhome memastikan bahwa informasi pribadi pengguna aman dan tidak disalahgunakan.</p>
              </li>
              <li>
                <h3>Pembaruan Real-time</h3>
                <p>Platform kami dapat memberikan pembaruan real-time tentang ketersediaan properti. Ini berarti pengguna akan selalu mendapatkan informasi terbaru tentang properti yang mereka minati.</p>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </section>
  