  <%- contentFor('body') %>
  
  <section id="aa-slider" class="<%= (page == 'kost') ? 'property-kost-page' : 'property-page' %>">
    <div class="img-place">
        <% if(page == 'kost') {
        %>
            <img src="default/img/header-kost.png">
            <%
        } else if(page == 'kontrakan') {
        %>
            <img src="default/img/header-kontrakan.png">
            <%
        } else {
        %>
            <img src="default/img/header-apartemen.png">
        <%
        }%>
    </div>
    <div class="container">
        <div class="text-layout">
            <h1 style="color: #000;">Cari <span style="color: #C58E24;"><%= page %></span></h1>
            <h1 style="color: #000;">di sekitar kamu!</h1>
        </div>
    </div>
    <div class="search">
        <div class="container" style="padding-bottom: 15px;">
            <form action="javascript:void(0)" method="get">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="">Lokasi</label>
                            <select name="" class="form-control">
                                <option value="" selected hidden>-- Nama Daerah/Kampus --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <select name="" class="form-control">
                                <option value="" selected hidden>Jangka Waktu</option>
                                <option value="6">6 Bulan</option>
                                <option value="12">12 Bulan</option>
                                <option value="12">Pertahun</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <select name="" class="form-control">
                                <option value="" selected hidden>Gendre</option>
                                <option value="2">2 Putra</option>
                                <option value="3">3 Putri</option>
                                <option value="4">4 Campuran</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <label for="">Harga</label>
                            <input type="number" name="" class="form-control" placeholder="0"/>
                            -
                            <input type="number" name="" class="form-control" placeholder="100.000"/>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1">
                        <div class="form-group" style="background-color: transparent !important; padding:0">
                            <button class="btn btn-dark btn-rounded" style="padding: 15px 20px;"><i class="fa fa-search"></i> Cari</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </section>

  <section id="service" style="background-color: #F4F4F4;">
    <div class="container">
        <div class="breadcumb">
            <div class="count">
                267 Properti
            </div>
            <div class="filter">
                Urutkan sesuai: <span><a href="javascript:void(0)"> Populer <i class="fa fa-caret-down"></i></a></span>
            </div>
        </div>
    </div>
  </section>

  <section id="findout" style="background-color: #F4F4F4;">
    <div class="container">
        <div class="row">
            <% 
                data['rekomendasi'].forEach(function(rekomendasi) {
            %>
            <div class="col-lg-4 col-md-4 property-item">
                <a href="/property-detail?page=kontrakan">
                    <div class="property">
                        <div class="thumb">
                            <img src="<%= rekomendasi['image'] %>">
                            <div class="overlay"></div>
                            <div class="title-property">
                            <%= rekomendasi['pemilik'] %>
                            </div>
                        </div>
                        <div class="description">
                            <div class="title"><%= rekomendasi['lokasi'] %></div>
                            <div class="balance"><%= helper.formatCurrency(rekomendasi['price']) %>/<span><%= rekomendasi['detail']['waktu'] %></span></div>
                            <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span><%= rekomendasi['rating'] %> (<%= rekomendasi['penilaian'] %> Penilaian)</span>
                            </div>
                            <div class="row detail-property">
                            <div class="col-lg-3 col-md-3 detail text-left">
                                <i class="icon-ic-bath"></i>
                                <span><%= rekomendasi['detail']['kamar_mandi'] %></span>
                            </div>
                            <div class="col-lg-3 col-md-3 detail text-left">
                                <i class="icon-ic-bed"></i>
                                <span><%= rekomendasi['detail']['kamar_tidur'] %></span>
                            </div>
                            <div class="col-lg-6 col-md-6 detail text-left">
                                <i class="icon-ic-viewport-wide"></i>
                                <span><%= rekomendasi['detail']['luas_tanah'] %> m2</span>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-9 col-md-9 text-left">
                                <a href="javascript:void()" class="btn btn-dark btn-send-message">Kirim pesan</a>
                            </div>
                            <div class="col-lg-3 col-md-3 text-right">
                                <a href="javascript:void()" class="btn btn-dark btn-add-cart">
                                    <i class="icon-ic-cart"></i>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <%
                })
            %>
        </div>
    </div>
    <div class="container">
        <ul id="pagination">
            <li><a class="" href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#" class="active">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
  </section>
  